<div class="container">
  <div class="row flex-row-reverse">
    <div class="col-12 col-md-6">
      <div class="image-wrapper">
        <img src="./assets/imgs/shared/error.svg" alt="payment failed">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="content">
        <div class="title">Oooops!</div>
        <div class="paragraph">Your payment has been canceled. If you need a further assistance or have any concerns,
          don't hesitate to drop us a message! We will contact you as soon as possible :)
        </div>
        <div class="d-flex align-items-center gap-2">
          <button class="btn-1" (click)="goToReferrer()">Go Back</button>
          <button class="btn-1" routerLink="/home">Visit Talentboozt</button>
        </div>
        <div class="support-area">
          <a href="mailto:support@talentboozt.com">Contact Support</a>
          <a href="https://talentboozt.com/privacy-policy">Privacy Policy</a>
          <a href="https://talentboozt.com/terms-and-conditions">Terms & Conditions</a>
        </div>
      </div>
    </div>
  </div>
</div>
